

  <div class="container-fluid">
      <div class="upperSection">
        <div class="row">
            <div class="col-lg-12">
                <h2>{{currentCity}}</h2>
                <img class="weatherIcon" src="assets/weathericon/png/{{currentData.data.next_1_hours.summary.symbol_code}}.png" style="width: 60px;">
                <div class="temp">{{currentData.data.instant.details.air_temperature}}&#176; C</div>
                <div class="temp">{{currentData.data.instant.details.wind_speed}}m/s</div>
                <div class="temp">{{currentData.time | date: 'EEEE h:mm a'}}</div>
                <div class="temp">{{currentData.data.next_1_hours.summary.symbol_code| titlecase}}</div>
            </div>

      </div>
      </div>
    
    <div class="row horizontal-rule">
        <div class="col-12">
            <hr/>
        </div>
    </div>
    <div class="dsktp">
        <div class="row">
            <div class="container">
                <div class="row seven-cols">
                    <div class="col-md-1" *ngFor="let weather of weatherData;let i =index">
                        <div class="weather-forecast-item">
                            <div class="day">{{days[i]}}</div>
                            <img src="assets/weathericon/png/{{weather.data.next_1_hours.summary.symbol_code}}.png" style="width: 60px;">
                            <!-- <div *ngIf="(weather.time | date: 'EEEE') == days[i]"> -->
                            <!-- <div class="temp">Time - {{weather.time | date: 'EEEE h:mm'}}</div> -->
                            <div class="temp">{{weather.data.instant.details.air_temperature}}&#176; C</div>
                            <div class="temp">{{weather.data.instant.details.wind_speed}}m/s</div>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobileCarousel">
        <carousel dots="true" arrowsTheme="dark" [cellsToShow]="3" cellsToScroll="3" [height]="300">
            <div class="carousel-cell" *ngFor="let weather of weatherData;let i =index">
                <div class="weather-forecast-item">
                    <div class="day">{{days[i]}}</div>
                    <img src="assets/weathericon/png/{{weather.data.next_1_hours.summary.symbol_code}}.png" style="width: 60px;">
                    <div class="temp">{{weather.data.instant.details.air_temperature}}&#176; C</div>
                    <div class="temp">{{weather.data.instant.details.wind_speed}}m/s</div>
                  
                </div>
            </div>
        </carousel>
    </div>
        
      