/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.carousel-dark .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border: 1px;
    border-radius: 20px;
    background-color:#66B3A6 ;
}
@media (max-width:834px) {
    .dsktp{
        display: none;
    }
}
@media (min-width:834px) {
    .mobileCarousel{
        display: none;
    }
}

// once the pixel is less than 375px
@media (max-width:374px) {
    .upperSection{
        margin-top: 200px;
        height: 700px;
    }.row.horizontal-rule{
        display: none;
    }
    .dsktp , .mobileCarousel{
        display: none;
    }
}
body {
    font-family: 'Roboto';
  }